language: python
python:
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"
  - "pypy"
  - "pypy3"
install:
  - ./.travis_setup
env:
  - DJANGO="django>=1.5,<1.6"
  - DJANGO="django>=1.6,<1.7"
  - DJANGO="django>=1.7,<1.8"
  - DJANGO="django>=1.8,<1.9"
  - DJANGO="django>=1.9,<1.10"
  - DJANGO="django>=1.10,<1.11"
  - DJANGO="django>=1.11,<2.0.0"
matrix:
  fast_finish: true
  allow_failures:
    - python: "2.7"
      env: DJANGO="django>=1.11,<2.0.0"
    - python: "3.4"
      env: DJANGO="django>=1.11,<2.0.0"
    - python: "3.5"
      env: DJANGO="django>=1.11,<2.0.0"
    - python: "pypy"
      env: DJANGO="django>=1.11,<2.0.0"
  exclude:
    - python: "3.5"
      env: DJANGO="django>=1.5,<1.6"
    - python: "3.5"
      env: DJANGO="django>=1.6,<1.7"
    - python: "3.5"
      env: DJANGO="django>=1.7,<1.8"
    - python: "3.3"
      env: DJANGO="django>=1.9,<1.10"
    - python: "3.3"
      env: DJANGO="django>=1.10,<1.11"
    - python: "3.3"
      env: DJANGO="django>=1.11,<2.0.0"
    - python: "pypy3"
      env: DJANGO="django>=1.9,<1.10"
    - python: "pypy3"
      env: DJANGO="django>=1.10,<1.11"
    - python: "pypy3"
      env: DJANGO="django>=1.11,<2.0.0"
script:
  - cd ./testproject; coverage run --source=phonenumber_field manage.py test phonenumber_field testapp
after_success:
  coveralls
