name: Check

on:
  - push
  - pull_request

jobs:
  build:
    name: ${{ matrix.tox-environment }}
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        tox-environment:
          - doctest
          - ruff
    env:
      TOXENV: ${{ matrix.tox-environment }}

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: "3.x"
          cache: pip

      - name: Install dependencies
        run: python -m pip install tox

      - name: Run
        run: tox
