name: Upload release to PyPI
on:
  release:
    types: [published]

jobs:
  build:
    name: Build distribution files
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: "3.x"
          cache: pip

      - name: Install dependencies
        run: pip install --user build django setuptools twine wheel

      - name: Install gettext
        run: sudo apt-get install gettext

      - name: Compile messages
        run: django-admin compilemessages
        working-directory: phonenumber_field

      - name: Build package
        run: python -m build

      - name: Verify package
        run: twine check --strict dist/*

      - name: Upload distributions to GitHub
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: dist
          path: dist/
          if-no-files-found: error

  release:
    name: Send distribution files to PyPI
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: pypi-release
      url: https://pypi.org/p/django-phonenumber-field
    permissions:
      id-token: write
    steps:
      - name: Download distributions
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: dist
          path: dist/

      - name: Publish distribution to PyPI
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0
