name: Test

on:
  - push
  - pull_request

jobs:
  test:
    name: Python ${{ matrix.python-version }} / ${{ matrix.tox-environment }}
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        python-version:
          - '3.10'
          - '3.11'
          - '3.12'
          - '3.13'
          - '3.14'
    env:
      COVERALLS_FLAG_NAME: Python ${{ matrix.python-version }} / ${{ matrix.tox-environment }}
      COVERALLS_PARALLEL: true
      COVERALLS_SERVICE_NAME: github
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      TOXENV: ${{ matrix.tox-environment }}

    steps:
      - name: Install gettext
        run: |
          sudo apt-get update
          sudo apt-get install -y gettext

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip

      - name: Install dependencies
        run: python -m pip install coveralls tox-gh

      - name: Run tests
        run: tox

      - name: Upload coverage data to coveralls.io
        run: coveralls

  coveralls:
    name: Indicate completion to coveralls.io
    runs-on: ubuntu-latest

    needs: test
    # Push coverage report even if test cases failed
    if: ${{ always() }}

    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0

      - name: Install coveralls
        run: python -m pip install coveralls

      - name: Report coverage to coveralls.io
        run: coveralls --finish
